<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	  <a href="/">Home</a>
	  <a href="/about">About</a>
	  <a href="/blog">Blog</a>
	  <h1>About Me</h1>
		<p>I'm Zach, a front-end developer, and I'm currently going through and learning the astro framework, through astro's blog tutorial. I created this page all on my own</p>
		<p>This page will update continusuoly as I learn more, so make sure to check back to see how it's going, and how it will evolve</p>
	</body>
</html>
