---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle="Blog">	
		<p>This is where I will post my journey of learning astro</p>
		<ul>
			{allPosts.map((post: any ) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
</BaseLayout>
