---
import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await getCollection('blog'); 
---

<BaseLayout pageTitle="Blog">	
		<p>This is where I will post my journey of learning astro</p>
		<ul>
			{allPosts.map((post: any ) => <BlogPost url={`/posts/${post.id}`} title={post.data.title} />)}
		</ul>
</BaseLayout>
